In [1]:
import pandas as pd

In [2]:
DIR = "../../datasets/"

fifa_ranking = pd.read_csv(DIR+"fifa_ranking.csv", index_col=0)

In [3]:
fifa_ranking.head()

,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
rank,,,,,,,,,,,,,,,
1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [4]:
fifa_ranking.drop(["country_abrv", "confederation"], axis=1, inplace=True)
fifa_ranking.reset_index(inplace=True)

In [5]:
fifa_ranking["year"] = [int(x[:4]) for x in fifa_ranking["rank_date"]]
fifa_ranking.drop("rank_date", axis=1, inplace=True)

In [6]:
fifa_ranking.columns = [
    "rank",
    "country",
    "total_points", 
    "previous_points",
    "rank_change",
    "cur_year_avg",
    "cur_year_avg_weighted",
    "last_year_avg",
    "last_year_avg_weighted",
    "two_year_ago_avg",
    "two_year_ago_weighted",
    "three_year_ago_avg",
    "three_year_ago_weighted",
    "year"
]

In [7]:
fifa_ranking.head()

,rank,country,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,year
0,1,Germany,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1993
1,2,Italy,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1993
2,3,Switzerland,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1993
3,4,Sweden,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1993
4,5,Argentina,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1993

# Save into a CSV file

In [8]:
fifa_ranking.to_csv("../fifa_ranking.csv", index=0)