In [1]:
import pandas as pd

In [2]:
DIR = "../../datasets/"

# World Wide matches
wwmatches = pd.read_csv(DIR+"wwmatches.csv")

# Clean World Wide matches

In [3]:
wwmatches.head(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False

In [4]:
new_wwmatches = pd.DataFrame(columns=wwmatches.columns)

for i in wwmatches.index:
    if int(wwmatches.iloc[i]["date"][:4]) >= 2010:
            new_wwmatches = new_wwmatches.append(wwmatches.iloc[i])

In [5]:
len(new_wwmatches)

7586

In [6]:
wwmatches = new_wwmatches
wwmatches.drop(["date", "tournament", "city", "country", "neutral"], axis=1, inplace=True)

wwmatches = wwmatches.reset_index()
wwmatches.drop("index", axis=1, inplace=True)

wwmatches.columns = ["Home Team Name", "Away Team Name", "Home Team Goals", "Away Team Goals"]

In [7]:
wwmatches.head()

  Home Team Name Away Team Name Home Team Goals Away Team Goals
0           Iran      Korea DPR               1               0
1          Qatar           Mali               0               0
2          Syria       Zimbabwe               6               0
3          Yemen     Tajikistan               0               1
4         Angola         Gambia               1               1

# Save wwmatches into CSV file

In [8]:
wwmatches.to_csv("../wwmatches.csv", index=0)