In [1]:
import pandas as pd

# Import `final` dataset

In [2]:
final = pd.read_csv("../final.csv")

# Combine `Home Player N Stats` with `Away Player N Stats`
# into `Player N Stats Diff`

In [3]:
compressed_final = pd.DataFrame(columns = [
        'Year', 'Datetime', 'Stage',
        'Home Team Name', 'Home Team Goals',
        'Away Team Goals', 'Away Team Name', 
        'Attendance',
        'Half-time Home Goals', 'Half-time Away Goals', 
        'Referee', 'Assistant 1', 'Assistant 2', 
        'Home Team Initials', 'Away Team Initials',
    
        'Home Coach Name',
        'Home Player 1', 'Home Player 2', 'Home Player 3', 'Home Player 4',
        'Home Player 5', 'Home Player 6', 'Home Player 7', 'Home Player 8',
        'Home Player 9', 'Home Player 10', 'Home Player 11', 
        
        'Away Coach Name', 
        'Away Player 1', 'Away Player 2', 'Away Player 3', 'Away Player 4',
        'Away Player 5', 'Away Player 6', 'Away Player 7', 'Away Player 8',
        'Away Player 9', 'Away Player 10', 'Away Player 11',
    
        'Player 1 Stats Diff', 'Player 2 Stats Diff', 'Player 3 Stats Diff',
        'Player 4 Stats Diff', 'Player 5 Stats Diff', 'Player 6 Stats Diff',
        'Player 7 Stats Diff', 'Player 8 Stats Diff', 'Player 9 Stats Diff',
        'Player 10 Stats Diff', 'Player 11 Stats Diff',
])

In [4]:
for i in range(len(final)):
    data = list(final.iloc[i][
        ['Year', 'Datetime', 'Stage',
        'Home Team Name', 'Home Team Goals',
        'Away Team Goals', 'Away Team Name', 
        'Attendance',
        'Half-time Home Goals', 'Half-time Away Goals', 
        'Referee', 'Assistant 1', 'Assistant 2', 
        'Home Team Initials', 'Away Team Initials', 
    
        'Home Coach Name',
        'Home Player 1', 'Home Player 2', 'Home Player 3', 'Home Player 4',
        'Home Player 5', 'Home Player 6', 'Home Player 7', 'Home Player 8',
        'Home Player 9', 'Home Player 10', 'Home Player 11', 
        
        'Away Coach Name', 
        'Away Player 1', 'Away Player 2', 'Away Player 3', 'Away Player 4',
        'Away Player 5', 'Away Player 6', 'Away Player 7', 'Away Player 8',
        'Away Player 9', 'Away Player 10', 'Away Player 11']
    ])
    
    
    for j in range(1, 12):
        home_player_stats = final.iloc[i]['Home Player ' + str(j) + ' Stats']
        away_player_stats = final.iloc[i]['Away Player ' + str(j) + ' Stats']
        
        data.append(home_player_stats-away_player_stats)
    
    compressed_final = compressed_final.append(pd.Series(data, index=compressed_final.columns), ignore_index=True)

In [5]:
compressed_final.head()

,Year,Datetime,Stage,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Attendance,Half-time Home Goals,Half-time Away Goals,...,Player 2 Stats Diff,Player 3 Stats Diff,Player 4 Stats Diff,Player 5 Stats Diff,Player 6 Stats Diff,Player 7 Stats Diff,Player 8 Stats Diff,Player 9 Stats Diff,Player 10 Stats Diff,Player 11 Stats Diff
0,2010.0,11 Jun 2010 - 16:00,Group A,South Africa,1.0,1.0,Mexico,84490.0,0.0,0.0,...,-4,7,-18,-7,-11,-20,12,-4,-20,-7
1,2010.0,11 Jun 2010 - 20:30,Group A,Uruguay,0.0,0.0,France,64100.0,0.0,0.0,...,8,30,3,6,-6,-2,10,14,-3,17
2,2010.0,12 Jun 2010 - 13:30,Group B,Korea Republic,2.0,0.0,Greece,31513.0,1.0,0.0,...,-2,-3,-17,-9,-21,-3,-3,11,-32,0
3,2010.0,12 Jun 2010 - 16:00,Group B,Argentina,1.0,0.0,Nigeria,55686.0,1.0,0.0,...,-6,-11,15,13,-6,-6,-11,-9,-4,21
4,2010.0,12 Jun 2010 - 20:30,Group C,England,1.0,1.0,USA,38646.0,1.0,1.0,...,0,-14,7,11,-1,-11,-2,-13,5,-1

# Save datasets into CSV file

In [6]:
compressed_final.to_csv("../compressed_final.csv", index=0)