In [1]:
import numpy as np
import pandas as pd

# Import datasets

In [2]:
final = pd.read_csv("../final.csv")

In [3]:
final.head()

   Away Team Goals Away Team Name  Home Team Goals Home Team Name    Year
0              1.0         Mexico              4.0         France  1930.0
1              1.0          Spain              0.0       Portugal  1930.0
2              3.0         Poland              0.0         Sweden  1930.0
3              2.0         Sweden              2.0        Belgium  1930.0
4              3.0        Germany              6.0        Denmark  1930.0

In [4]:
len(final)

3951

# Combine features

In [5]:
final.columns

Index(['Away Team Goals', 'Away Team Name', 'Home Team Goals',
       'Home Team Name', 'Year'],
      dtype='object')

In [6]:
columns = list(final.columns[:4])

for i in range(1, 12):
    columns.append("Player " + str(i) + " Overall Diff")

In [7]:
compressed_final = pd.DataFrame(columns=columns)

In [8]:
for i in range(len(final)):
    data = list(
        final.iloc[i][final.columns[:4]]
    )
    
    
    for j in range(1, 12):
        home_player_stats = final.iloc[i]["Home Player " + str(j) + " Overall"]
        away_player_stats = final.iloc[i]["Away Player " + str(j) + " Overall"]

        try:
            data.append(int(home_player_stats) - int(away_player_stats))
        except:
            if "+" in str(home_player_stats):
                home_player_stats = home_player_stats.split("+")
                home_player_stats = int(home_player_stats[0]) + int(home_player_stats[1])
            if "+" in str(away_player_stats):
                away_player_stats = away_player_stats.split("+")
                away_player_stats = int(away_player_stats[0]) + int(away_player_stats[1])
                
            if "-" in str(home_player_stats):
                home_player_stats = home_player_stats.split("-")
                home_player_stats = int(home_player_stats[0]) - int(home_player_stats[1])
            if "-" in str(away_player_stats):
                away_player_stats = away_player_stats.split("-")
                away_player_stats = int(away_player_stats[0]) - int(away_player_stats[1])
                    
            data.append(int(home_player_stats) - int(away_player_stats))

    compressed_final = compressed_final.append(
        pd.Series(data, index=compressed_final.columns),
        ignore_index=True
    )

In [9]:
compressed_final.head()

,Away Team Goals,Away Team Name,Home Team Goals,Home Team Name,Player 1 Overall Diff,Player 2 Overall Diff,Player 3 Overall Diff,Player 4 Overall Diff,Player 5 Overall Diff,Player 6 Overall Diff,Player 7 Overall Diff,Player 8 Overall Diff,Player 9 Overall Diff,Player 10 Overall Diff,Player 11 Overall Diff
0,1.0,Mexico,4.0,France,0,0,0,0,0,0,0,0,0,0,0
1,0.0,France,1.0,Argentina,0,0,0,0,0,0,0,0,0,0,0
2,0.0,Peru,1.0,Uruguay,0,0,0,0,0,0,0,0,0,0,0
3,3.0,Mexico,6.0,Argentina,0,0,0,0,0,0,0,0,0,0,0
4,2.0,Argentina,4.0,Uruguay,0,0,0,0,0,0,0,0,0,0,0

# Save datasets into CSV file

In [10]:
compressed_final.to_csv("../compressed_final.csv", index=0)