In [1]:
import pandas as pd

from mean_stats import get_average_goals

# Import `final` dataset

In [2]:
final = pd.read_csv("../final.csv")

In [3]:
final.head()

,Away Team Goals,Away Team Name,Home Team Goals,Home Team Name,Year,home_rank,home_total_points,home_previous_points,home_rank_change,home_cur_year_avg,...,away_previous_points,away_rank_change,away_cur_year_avg,away_cur_year_avg_weighted,away_last_year_avg,away_last_year_avg_weighted,away_two_year_ago_avg,away_two_year_ago_weighted,away_three_year_ago_avg,away_three_year_ago_weighted
0,0.0,Morocco,2.0,Nigeria,2000.0,76,0.0,444,0,0.0,...,615,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,Denmark,3.0,France,2000.0,3,0.0,765,0,0.0,...,697,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,Senegal,4.0,Tunisia,2000.0,28,0.0,596,3,0.0,...,440,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,England,3.0,Portugal,2000.0,15,0.0,672,0,0.0,...,695,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,Germany,1.0,England,2000.0,12,0.0,695,0,0.0,...,739,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Add avg goals statistic to dataset

In [4]:
home_avg_goals = []
away_avg_goals = []

for i in range(len(final)):
    home_team_name = final["Home Team Name"][i]
    away_team_name = final["Away Team Name"][i]

    avg_goals = get_average_goals(home_team_name, away_team_name, final["Year"][i]-1)
    if avg_goals:
        home_avg_goals.append(avg_goals[0])
        away_avg_goals.append(avg_goals[1])
    else:
        home_avg_goals.append(0.0)
        away_avg_goals.append(0.0)

In [5]:
final["Home Avg Goals"] = home_avg_goals
final["Away Avg Goals"] = away_avg_goals

In [6]:
final.head()

,Away Team Goals,Away Team Name,Home Team Goals,Home Team Name,Year,home_rank,home_total_points,home_previous_points,home_rank_change,home_cur_year_avg,...,away_cur_year_avg,away_cur_year_avg_weighted,away_last_year_avg,away_last_year_avg_weighted,away_two_year_ago_avg,away_two_year_ago_weighted,away_three_year_ago_avg,away_three_year_ago_weighted,Home Avg Goals,Away Avg Goals
0,0.0,Morocco,2.0,Nigeria,2000.0,76,0.0,444,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,Denmark,3.0,France,2000.0,3,0.0,765,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,Senegal,4.0,Tunisia,2000.0,28,0.0,596,3,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,England,3.0,Portugal,2000.0,15,0.0,672,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,Germany,1.0,England,2000.0,12,0.0,695,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Save datasets into CSV files

In [7]:
final.to_csv("../final.csv", index=0)