In [1]:
import pandas as pd

from mean_stats import get_fifa_points

# Import `final` dataset

In [2]:
final = pd.read_csv("../final.csv")

In [3]:
final.head()

,Away Team Goals,Away Team Name,Home Team Goals,Home Team Name,Year,Home Avg Goals,Away Avg Goals
0,1.0,Mexico,4.0,France,1930.0,0.0,0.0
1,1.0,Spain,0.0,Portugal,1930.0,0.0,0.0
2,3.0,Poland,0.0,Sweden,1930.0,0.0,0.0
3,2.0,Sweden,2.0,Belgium,1930.0,0.0,0.0
4,3.0,Germany,6.0,Denmark,1930.0,0.0,0.0

# Add FIFA ranks statistic to dataset

In [4]:
home_fifa_points = []
away_fifa_points = []

for i in range(len(final)):
    home_team_name = final["Home Team Name"][i]
    away_team_name = final["Away Team Name"][i]

    points = get_fifa_points(home_team_name, away_team_name)
    if points:
        home_fifa_points.append(points[0])
        away_fifa_points.append(points[1])
    else:
        home_fifa_points.append(0.0)
        away_fifa_points.append(0.0)

In [5]:
final["Home FIFA Points"] = home_fifa_points
final["Away FIFA Points"] = away_fifa_points

In [6]:
final.head()

,Away Team Goals,Away Team Name,Home Team Goals,Home Team Name,Year,Home Avg Goals,Away Avg Goals,Home FIFA Points,Away FIFA Points
0,1.0,Mexico,4.0,France,1930.0,0.0,0.0,1166.0,1008.0
1,1.0,Spain,0.0,Portugal,1930.0,0.0,0.0,1306.0,1162.0
2,3.0,Poland,0.0,Sweden,1930.0,0.0,0.0,889.0,1118.0
3,2.0,Sweden,2.0,Belgium,1930.0,0.0,0.0,1346.0,889.0
4,3.0,Germany,6.0,Denmark,1930.0,0.0,0.0,1054.0,1533.0

# Save datasets into CSV files

In [7]:
final.to_csv("../final.csv", index=0)