In [1]:
import pandas as pd

from mean_stats import get_fifa_ranks

# Import `compressed_final` dataset

In [2]:
compressed_final = pd.read_csv("../compressed_final.csv")

In [3]:
compressed_final.head()

,Away Team Goals,Away Team Name,Home Team Goals,Home Team Name,Player 1 Overall Diff,Player 2 Overall Diff,Player 3 Overall Diff,Player 4 Overall Diff,Player 5 Overall Diff,Player 6 Overall Diff,Player 7 Overall Diff,Player 8 Overall Diff,Player 9 Overall Diff,Player 10 Overall Diff,Player 11 Overall Diff,Avg Goals Diff
0,0.0,France,0.0,Uruguay,7,4,6,6,6,4,5,5,5,5,5,0.333333
1,0.0,Nigeria,1.0,Argentina,0,0,-2,-2,-1,0,0,0,-1,0,-1,0.500000
2,0.0,Australia,4.0,Germany,3,2,3,2,2,3,0,0,2,1,2,1.750000
3,1.0,Switzerland,0.0,Spain,6,5,3,2,3,6,5,5,5,5,4,-1.000000
4,1.0,Korea Republic,4.0,Argentina,-4,-4,-4,-3,0,1,2,2,2,2,-3,3.000000

# Add FIFA ranks statistic to dataset

In [4]:
data = []
for i in range(len(compressed_final)):
    home_team_name = compressed_final["Home Team Name"][i]
    away_team_name = compressed_final["Away Team Name"][i]

    ranks = get_fifa_ranks(home_team_name, away_team_name)
    if ranks:
        data.append(ranks[0]-ranks[1])
    else:
        data.append(0.0)

In [5]:
compressed_final["FIFA Rank Diff"] = data

In [6]:
compressed_final.head()

,Away Team Goals,Away Team Name,Home Team Goals,Home Team Name,Player 1 Overall Diff,Player 2 Overall Diff,Player 3 Overall Diff,Player 4 Overall Diff,Player 5 Overall Diff,Player 6 Overall Diff,Player 7 Overall Diff,Player 8 Overall Diff,Player 9 Overall Diff,Player 10 Overall Diff,Player 11 Overall Diff,Avg Goals Diff,FIFA Rank Diff
0,0.0,France,0.0,Uruguay,7,4,6,6,6,4,5,5,5,5,5,0.333333,10.0
1,0.0,Nigeria,1.0,Argentina,0,0,-2,-2,-1,0,0,0,-1,0,-1,0.500000,-42.0
2,0.0,Australia,4.0,Germany,3,2,3,2,2,3,0,0,2,1,2,1.750000,-39.0
3,1.0,Switzerland,0.0,Spain,6,5,3,2,3,6,5,5,5,5,4,-1.000000,2.0
4,1.0,Korea Republic,4.0,Argentina,-4,-4,-4,-3,0,1,2,2,2,2,-3,3.000000,-56.0

# Save datasets into CSV files

In [7]:
compressed_final.to_csv("../compressed_final.csv", index=0)