In [1]:
import pandas as pd
import seaborn as sns

%matplotlib inline

# Import datasets

In [2]:
# World Wide matches
wwmatches = pd.read_csv("../wwmatches.csv")

rankings = pd.read_csv("../fifa_rankings.csv")

In [3]:
wwmatches.head()

     Datetime Home Team Name Away Team Name  Home Team Goals  Away Team Goals
0  2010-01-02           Iran      Korea DPR                1                0
1  2010-01-02          Qatar           Mali                0                0
2  2010-01-02          Syria       Zimbabwe                6                0
3  2010-01-02          Yemen     Tajikistan                0                1
4  2010-01-03         Angola         Gambia                1                1

# Average Goals

In [4]:
def get_average_goals(home, away, ignore_sides=False):
    avg_home = 0
    avg_away = 0
    n = 0
    
    for i in range(len(wwmatches)):
        if (home.lower() in wwmatches.iloc[i]["Home Team Name"].lower() and
            away.lower() in wwmatches.iloc[i]["Away Team Name"].lower()):
                avg_home += wwmatches.iloc[i]["Home Team Goals"]
                avg_away += wwmatches.iloc[i]["Away Team Goals"]
                n+=1
        
        if ignore_sides:
            if (home.lower() in wwmatches.iloc[i]["Away Team Name"].lower() and
                away.lower() in wwmatches.iloc[i]["Home Team Name"].lower()):
                    avg_home += wwmatches.iloc[i]["Away Team Goals"]
                    avg_away += wwmatches.iloc[i]["Home Team Goals"]
                    n+=1

    if n > 0:
        return [
            avg_home/n,
            avg_away/n
        ]

    else:
        return [0.0, 0.0]

In [5]:
get_average_goals("Russia", "Saudi Arabia")

[0.0, 0.0]

In [6]:
get_average_goals("Spain", "Portugal")

[1.0, 0.0]

In [7]:
get_average_goals("Uruguay", "Argentina")

[1.5, 1.0]

In [8]:
get_average_goals("Korea Republic", "Greece")

[2.0, 0.0]

In [9]:
get_average_goals("England", "Belgium")

[1.0, 0.0]