In [2]:
import pandas as pd

In [3]:
# 2014 World Cup matches
wcup = pd.read_csv("./world_cup_14.csv")

# World Wide matches
wwmatches = pd.read_csv("./wwmatches.csv")

# Clean 2014 World Cup matches

In [4]:
wcup.head(5)

,match_id,match_date,match_time,home_country,home_code,home_goals,away_country,away_code,away_goals,win_country,win_code
0,1,12 June,21:00,Brazil,BRA,3,Croatia,CRO,1,Brazil,BRA
1,2,13 June,17:00,Mexico,MEX,1,Cameroon,CMR,0,Mexico,MEX
2,3,13 June,20:00,Spain,ESP,1,Netherlands,NED,5,Netherlands,NED
3,4,13 June,23:00,Chile,CHI,3,Australia,AUS,1,Chile,CHI
4,5,14 June,17:00,Colombia,COL,3,Greece,GRE,0,Colombia,COL

In [5]:
wcup.drop(["match_id", "home_code", "away_code", "win_code"], axis=1, inplace=True)

In [6]:
len(wcup)

64

In [7]:
wcup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 7 columns):
match_date      64 non-null object
match_time      64 non-null object
home_country    64 non-null object
home_goals      64 non-null int64
away_country    64 non-null object
away_goals      64 non-null int64
win_country     55 non-null object
dtypes: int64(2), object(5)
memory usage: 3.6+ KB

# Clean World Wide matches

In [8]:
wwmatches.head(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False

In [9]:
new_wwmatches = pd.DataFrame(columns=wwmatches.columns)

for i in wwmatches.index:
    if wwmatches.iloc[i]["date"][:4] > "2010":
        new_wwmatches = new_wwmatches.append(wwmatches.iloc[i])

In [11]:
len(new_wwmatches)

6748

In [12]:
wwmatches = new_wwmatches

In [13]:
wwmatches.drop(["tournament", "city", "country", "neutral"], axis=1, inplace=True)

In [14]:
wwmatches = wwmatches.reset_index()
wwmatches.drop("index", axis=1, inplace=True)

In [15]:
wwmatches.head()

         date             home_team   away_team home_score away_score
0  2011-01-02                  Iran      Angola          1          0
1  2011-01-02                  Iraq       China          2          3
2  2011-01-02                Jordan  Uzbekistan          2          2
3  2011-01-02  United Arab Emirates       Syria          2          0
4  2011-01-04               Bahrain   Korea DPR          0          1

# Shape final dataset

In [14]:
wwmatches.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score'], dtype='object')

In [15]:
wcup.columns

Index(['match_date', 'match_time', 'home_country', 'home_goals',
       'away_country', 'away_goals', 'win_country'],
      dtype='object')

In [16]:
wcup.drop(["match_time", "win_country"], axis=1, inplace=True)

In [17]:
columns = ["match_date", "home_country",  "away_country", "home_goals", "away_goals"]
wwmatches.columns = columns

In [18]:
wwmatches.head()

   match_date          home_country away_country home_goals away_goals
0  2011-01-02                  Iran       Angola          1          0
1  2011-01-02                  Iraq        China          2          3
2  2011-01-02                Jordan   Uzbekistan          2          2
3  2011-01-02  United Arab Emirates        Syria          2          0
4  2011-01-04               Bahrain    Korea DPR          0          1

In [19]:
wcup.head()

  match_date home_country  home_goals away_country  away_goals
0    12 June       Brazil           3      Croatia           1
1    13 June       Mexico           1     Cameroon           0
2    13 June        Spain           1  Netherlands           5
3    13 June        Chile           3    Australia           1
4    14 June     Colombia           3       Greece           0

In [20]:
final_dataset = pd.DataFrame(columns=columns)

final_dataset = final_dataset.append(wwmatches)
final_dataset = final_dataset.append(wcup)

/usr/local/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [21]:
assert len(final_dataset) == len(wcup) + len(wwmatches)

In [22]:
final_dataset.head()

  away_country away_goals          home_country home_goals  match_date
0       Angola          0                  Iran          1  2011-01-02
1        China          3                  Iraq          2  2011-01-02
2   Uzbekistan          2                Jordan          2  2011-01-02
3        Syria          0  United Arab Emirates          2  2011-01-02
4    Korea DPR          1               Bahrain          0  2011-01-04

In [23]:
final_dataset.to_csv("./final.csv")