In [1]:
import pandas as pd

# Import datasets

In [2]:
# World Cup Matches
matches = pd.read_csv("../WorldCupMatches.csv")

# World Cup Players
players = pd.read_csv("../WorldCupPlayers.csv")

# World Cups
cups = pd.read_csv("../WorldCups.csv")

# Clean World Cup Matches dataset

In [3]:
matches.dropna(inplace=True)

In [4]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 850 entries, 0 to 851
Data columns (total 20 columns):
Year                    850 non-null float64
Datetime                850 non-null object
Stage                   850 non-null object
Stadium                 850 non-null object
City                    850 non-null object
Home Team Name          850 non-null object
Home Team Goals         850 non-null float64
Away Team Goals         850 non-null float64
Away Team Name          850 non-null object
Win conditions          850 non-null object
Attendance              850 non-null float64
Half-time Home Goals    850 non-null float64
Half-time Away Goals    850 non-null float64
Referee                 850 non-null object
Assistant 1             850 non-null object
Assistant 2             850 non-null object
RoundID                 850 non-null float64
MatchID                 850 non-null float64
Home Team Initials      850 non-null object
Away Team Initials      850 non-null object
dtypes: float64(8), object(12)
memory usage: 139.5+ KB

In [5]:
matches.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [6]:
matches.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [7]:
matches.drop([
    "Stadium",
    "City",
    "Home Team Name",
    "Away Team Name",
    "Win conditions"
], axis=1, inplace=True)

In [8]:
new_matches = pd.DataFrame(columns=matches.columns)
for i in range(len(matches)):
    if int(matches.iloc[i]["Year"]) >= 2010:
        new_matches = new_matches.append(matches.iloc[i])

In [9]:
matches = new_matches
matches = matches.reset_index()
matches.drop("index", axis=1, inplace=True)

In [10]:
len(matches)

142

In [11]:
matches.head()

,Year,Datetime,Stage,Home Team Goals,Away Team Goals,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,2010.0,11 Jun 2010 - 16:00,Group A,1.0,1.0,84490.0,0.0,0.0,Ravshan IRMATOV (UZB),ILYASOV Rafael (UZB),KOCHKAROV Bakhadyr (KGZ),249722.0,300061454.0,RSA,MEX
1,2010.0,11 Jun 2010 - 20:30,Group A,0.0,0.0,64100.0,0.0,0.0,NISHIMURA Yuichi (JPN),SAGARA Toru (JPN),JEONG Hae Sang (KOR),249722.0,300061453.0,URU,FRA
2,2010.0,12 Jun 2010 - 13:30,Group B,2.0,0.0,31513.0,1.0,0.0,HESTER Michael (NZL),HINTZ Jan Hendrik (NZL),MAKASINI Tevita (TGA),249722.0,300061459.0,KOR,GRE
3,2010.0,12 Jun 2010 - 16:00,Group B,1.0,0.0,55686.0,1.0,0.0,Wolfgang STARK (GER),SALVER Jan-Hendrik (GER),PICKEL Mike (GER),249722.0,300061460.0,ARG,NGA
4,2010.0,12 Jun 2010 - 20:30,Group C,1.0,1.0,38646.0,1.0,1.0,SIMON Carlos (BRA),HAUSMANN Altemir (BRA),BRAATZ Roberto (BRA),249722.0,300061466.0,ENG,USA

# Clean World Cup Players dataset

In [12]:
players.dropna(inplace=True)

In [13]:
players.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 573 entries, 35 to 37715
Data columns (total 9 columns):
RoundID          573 non-null int64
MatchID          573 non-null int64
Team Initials    573 non-null object
Coach Name       573 non-null object
Line-up          573 non-null object
Shirt Number     573 non-null int64
Player Name      573 non-null object
Position         573 non-null object
Event            573 non-null object
dtypes: int64(3), object(6)
memory usage: 44.8+ KB

In [14]:
players.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
35,201,1090,USA,MILLAR Bob (USA),S,0,Tom FLORIE,C,G45'
74,201,1093,BRA,DE CARVALHO Pindaro (BRA),S,0,PREGUINHO,C,G62'
113,201,1098,PER,BRU Francisco (ESP),S,0,Placido GALINDO,C,R70'
415,201,1091,BRA,DE CARVALHO Pindaro (BRA),S,0,PREGUINHO,C,G67' G83'
468,201,1089,PAR,DURAND LAGUNA Jose (ARG),S,0,Luis VARGAS PENA,C,G40'

In [15]:
players.drop(["Line-up", "Shirt Number", "Position", "Event"], axis=1, inplace=True)

In [16]:
len(players)

573

# Clean World Cups dataset

In [17]:
cups.dropna(inplace=True)

In [18]:
cups.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 10 columns):
Year              20 non-null int64
Country           20 non-null object
Winner            20 non-null object
Runners-Up        20 non-null object
Third             20 non-null object
Fourth            20 non-null object
GoalsScored       20 non-null int64
QualifiedTeams    20 non-null int64
MatchesPlayed     20 non-null int64
Attendance        20 non-null object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB

In [19]:
cups.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [20]:
new_cups = pd.DataFrame(columns=cups.columns)
for i in range(len(cups)):
    if int(cups.iloc[i]["Year"]) >= 2010:
        new_cups = new_cups.append(cups.iloc[i])

cups = new_cups

In [21]:
len(cups)

2

# Save datasets into CSV files

In [22]:
matches.to_csv("../WorldCupMatches.csv")
players.to_csv("../WorldCupPlayers.csv")
cups.to_csv("../WorldCups.csv")