In [1]:
import pandas as pd
import seaborn as sns

%matplotlib inline

# Import datasets

In [2]:
# World Wide matches
wwmatches = pd.read_csv("../wwmatches.csv")

# World Cup Matches
matches = pd.read_csv("../WorldCupMatches.csv")

In [3]:
matches.head()

,Year,Datetime,Stage,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,Home Team Initials,Away Team Initials
0,2010.0,11 Jun 2010 - 16:00,Group A,South Africa,1.0,1.0,Mexico,84490.0,0.0,0.0,Ravshan IRMATOV (UZB),ILYASOV Rafael (UZB),KOCHKAROV Bakhadyr (KGZ),RSA,MEX
1,2010.0,11 Jun 2010 - 20:30,Group A,Uruguay,0.0,0.0,France,64100.0,0.0,0.0,NISHIMURA Yuichi (JPN),SAGARA Toru (JPN),JEONG Hae Sang (KOR),URU,FRA
2,2010.0,12 Jun 2010 - 13:30,Group B,Korea Republic,2.0,0.0,Greece,31513.0,1.0,0.0,HESTER Michael (NZL),HINTZ Jan Hendrik (NZL),MAKASINI Tevita (TGA),KOR,GRE
3,2010.0,12 Jun 2010 - 16:00,Group B,Argentina,1.0,0.0,Nigeria,55686.0,1.0,0.0,Wolfgang STARK (GER),SALVER Jan-Hendrik (GER),PICKEL Mike (GER),ARG,NGA
4,2010.0,12 Jun 2010 - 20:30,Group C,England,1.0,1.0,USA,38646.0,1.0,1.0,SIMON Carlos (BRA),HAUSMANN Altemir (BRA),BRAATZ Roberto (BRA),ENG,USA

In [4]:
wwmatches.head()

     Datetime Home Team Name Away Team Name  Home Team Goals  Away Team Goals
0  2010-01-02           Iran      Korea DPR                1                0
1  2010-01-02          Qatar           Mali                0                0
2  2010-01-02          Syria       Zimbabwe                6                0
3  2010-01-02          Yemen     Tajikistan                0                1
4  2010-01-03         Angola         Gambia                1                1

# Average Goals

In [5]:
def get_average_goals(home, away, data=wwmatches):
    avg_home = 0
    avg_away = 0
    n = 0
    
    for i in range(len(wwmatches)):
        if (home.lower() in wwmatches.iloc[i]["Home Team Name"].lower() and
            away.lower() in wwmatches.iloc[i]["Away Team Name"].lower()):
                avg_home += wwmatches.iloc[i]["Home Team Goals"]
                avg_away += wwmatches.iloc[i]["Away Team Goals"]
                n+=1
    
    return [
        avg_home/n,
        avg_away/n
    ]

In [6]:
get_average_goals("Russia", "Belgium")

[1.5, 2.5]